.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.lightning-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}